body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #0a0a0a;
    margin: 0;
}

h1 {
    font-size: 2.5rem; 
    color: #000203; 
    text-align: center; 
    margin-top: 20px;
}

.language-selector {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    font: 17px normal times new roman;
}

